.Received-Document-Container {
  height: 16%;
  width: 90%;
  min-height: 12%;
  background-color: whitesmoke;
  /* border-radius: 10px; */
  margin-top: 3%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 2px solid purple;
}
.Received-Document-Container-Fileicon {
  height: 50%;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Received-Document-Container-Fileicon > img {
  height: 100%;
  filter: invert(34%) sepia(82%) saturate(2641%) hue-rotate(203deg)
    brightness(93%) contrast(92%);
}
.Received-Document-Container-Name {
  height: 50%;
  width: 20%;
  min-width: 40%;
  font-family: "Poppins";
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: scroll;
}
.Received-Document-Container-Option {
  height: 60%;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.Received-Document-Container-Option > a {
  height: 100%;
  width: 20%;
  display: flex;
  align-items: center;
}
.Received-Document-Container-Option > button {
  height: 100%;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: whitesmoke;
}
.Received-Document-Container-Option > button > img {
  height: 60%;
}
.Received-Document-Container-Option > a > img {
  height: 60%;
}

@media only screen and (max-width: 600px) {
  .Received-Document-Container{
    justify-content: space-between;
  }
  .Received-Document-Container-Fileicon{
    height: 30%;
    width: 10%;
  }
  .Received-Document-Container-Name{
    height: 100%;
    width: 85%;


  }
 .Received-Document-Container-Option>a{
  width: 40%;
 }

}
