.Navbar1 {
  height: 16vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: url("../assets/landingback.jpg");
}
.Navbar1-Logo {
  height: 80%;
  width: 17%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Navbar1-Options {
  height: 100%;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.Navbar1-Options > button {
  height: 25%;
  padding: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  border: none;
  background-color: rgb(57, 5, 57);
  color: white;
  transition: all 0.3ss ease-in-out;
}
.Navbar1-Options > button:hover {
  background-color: transparent;
  border: 2px solid white;
  color: white;
}
@media only screen and (max-width: 600px) {
  .Navbar1-Logo {
    height: 40%;
    width: 40%;
  }
  .Navbar1-Logo > img {
    width: 100%;
  }
  .Navbar1-Options {
    width: 50%;
  }
  .Navbar1-Options > button {
    padding: 8%;
  }
}
