.Dashboard-Page-Container {
  height: 84vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2e9e4;
}
.Dashboard-Page-Container-Box {
  height: 90%;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Dashboard-Page-Container-Box-Innerbox {
  height: 93.5%;
  width: 100%;
  background-color: black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  border: 2px solid white;
}
.Dashboard-Page-Container-Box-Innerbox > h1 {
  font-family: "Poppins";
  margin-top: 5%;
  color: white;
}

@media only screen and (max-width: 600px) {
  .Dashboard-Page-Container-Box {
    width: 95%;
  }
  .Dashboard-Page-Container-Box-Innerbox > h1 {
    font-size: 25px;
  }
}
