@keyframes onload {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.Profile-Page-Container {
  height: 84vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  animation: onload 0.8s;
}
.Profile-Page-Container-Left {
  height: 60%;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-family: "Jersey 25";
  background-color: #d9d9d9;
}
.Profile-Page-Container-Left-Profile {
  height: 35%;
  width: 30%;
  border-radius: 50%;
  background-color: black;
}
.Profile-Page-Container-Right {
  height: 80%;
  width: 30%;
  background-color: blue;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Jersey 25";
  background-color: #d9d9d9;
}

@media only screen and (max-width: 600px) {
  .Profile-Page-Container {
    display: flex;
    flex-direction: column;
  }
  .Profile-Page-Container-Left {
    width: 90%;
    height: 40vh;
  }
  .Profile-Page-Container-Right {
    width: 90%;
    height: 30vh;
  }
  .Profile-Page-Container-Left-Profile {
    height: 32%;
  }
}
